/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
* {
	margin: 0;
	padding: 0;
}
body, html {height: 100%;}
body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #323333;
	padding-top: 80px;
}
img {
	border: 0;
	max-width: 100%;
}
a {
	outline: none;
	text-decoration: none;
}
a:hover {text-decoration: underline;}
ul {list-style-type: none;}
table {border-collapse: collapse;}
p {margin-bottom: 7px;}
/*end reset*/

/* common styles start */
.clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {clear: both;}
.fltlft {float: left;}
.fltrt {float: right;}
.tipical-headline {
	font-size: 36px;
	text-align: center;
}
.tipical-content-headline {
	text-align: center;
	line-height: 52px;
	color: #093d61;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 25px;
}
.tipical-content-headline:after {
	content: '';
	width: 100%;
	height: 34px;
	position: absolute;
	left: 0;
	bottom: -16px;
	background: url(/images/tipical-content-headline.png) no-repeat center center;
}
.simple-headline {
	font-size: 24px;
	color: #376f83;
	line-height: normal;
	margin-bottom: 18px;
	font-weight: bold;
}
.please-login {
	font-weight: bold;
	color: #146f90;
	padding-top: 15px;
	font-size: 38px;
	text-align: center;
	text-shadow: 0 0 2px rgba(0,0,0,.46);
	padding-bottom: 30px;
}
.please-login span {text-transform: uppercase;}
.please-login a {color: #146f90;}
.red {color: #ff0000!important;}
.tipical-button {
	color: #054157;
	line-height: 30px;
	border: 1px solid #afbfca;
	display: inline-block;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d5dfe4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d5dfe4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefefe 0%,#d5dfe4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d5dfe4',GradientType=0 ); /* IE6-9 */
}
.tipical-button:hover {
	text-decoration: none;
	color: #fff;
	background: #054157; /* Old browsers */
	background: -moz-linear-gradient(top,  #054157 0%, #0378a3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #054157 0%,#0378a3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #054157 0%,#0378a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054157', endColorstr='#0378a3',GradientType=0 ); /* IE6-9 */
}
/* common styles end */

/* page styles start */
.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	background: #eef5fb;
	padding-bottom: 154px;
}
.wrapper .inner-wrapper {
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
}
.wrapper .header {
	width: 100%;
	background: #054157;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 2px 2px rgba(0,0,0,.35);
}
.header .logotype {
	float: left;
	display: block;
	width: 196px;
	height: 53px;
	margin-top: 13px;
	background: url(/images/logotype.png) no-repeat;
}
.header .navigation {
	float: left;
	margin-left: 90px;
}
.navigation li {
	float: left;
	margin-right: 25px;
	line-height: 80px;
}
.navigation li a {
	color: #fff;
	font-size: 15px;
	position: relative;
	padding-left: 15px;
}
.navigation li a:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 9px;
	left: 0;
	top: 4px;
	background: url(/images/bullet.png) no-repeat;
}
.header .login {
	float: right;
	font-size: 15px;
	color: #fff;
	padding-left: 22px;
	position: relative;
	line-height: 80px;
	margin-left: 20px;
}
.header .login:before {
	content: '';
	position: absolute;
	left: 0;
	top: 34px;
	background: url(/images/login.png) no-repeat;
	width: 12px;
	height: 12px;
}
.header .login.no-lock:before {
	content: '';
	display: none;
}
.wrapper .sub-header {
	color: #fff;
	background: url(/images/sub-header.jpg) repeat-x top left #146f90;
	position: relative;
}
.wrapper .sub-header:after {
	content: '';
	width: 100%;
	height: 95px;
	position: absolute;
	bottom: -26px;
	left: 0;
	background: url(/images/sub-header-line.png) no-repeat center center;
}
.sub-header .tipical-headline {
	line-height: 70px;
	color: #fff;
}
.sub-header .scores-block {
	width: 100%;
	background: #f1ead8;
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-size: 16px;
	color: #175870;
	margin-bottom: 21px;
}
.scores-block .scores-block-item {
	display: inline-block;
	margin-right: 20px;
}
.scores-block .scores-block-item:last-child {margin-right: 0;}
.scores-block-item span {color: #eb5f26;}
.sub-header .sub-header-headline {
	font-size: 16px;
	margin-bottom: 19px;
}
.sub-header p {margin-bottom: 17px;}
.sub-header .sub-header-slogan {
	text-align: center;
	padding-bottom: 50px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	display: block;
}
.sub-header-slogan .sub-header-slogan-item {
	display: inline-block;
	width: 32%;
}
.sub-header-slogan-item span {color: #ffcb00;}
.wrapper .footer {
	background: #146f90;
	padding: 24px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer .footer-left-column {
	float: left;
	width: 23%;
	padding-left: 21px;
	font-size: 10px;
	line-height: 12px;
	color: #fff;
}
.footer-left-column .footer-left-column-copyright {margin-bottom: 22px;}
.footer-left-column .footer-social-list {margin-bottom: 17px;}
.footer-social-list .footer-social-list-item {
	float: left;
	width: 24px;
	margin-left: 16px;
}
.footer-left-column .footer-social-list:first-child {margin-left: 0;}
.footer-social-list-item .social-list-item-link {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(/images/social-list.png);
	background-repeat: no-repeat;
}
.footer-social-list-item .social-list-item-link.vk {background-position: 0 0;}
.footer-social-list-item .social-list-item-link.fb {background-position: -40px 0;}
.footer-social-list-item .social-list-item-link.tw {background-position: -78px 0;}
.footer-social-list-item .social-list-item-link.od {background-position: -115px 0;}
.footer .footer-right-column {
	float: left;
	line-height: 21px;
	color: #fff;
}
.footer-right-column .footer-links-column {
	float: left;
	width: 260px;
}
.footer-links-column .footer-links-column-headline {margin-bottom: 22px;}
.footer-links li {
	padding-left: 30px;
	background: url(/images/bullet_footer.png) no-repeat 10px center;
}
.footer-links li a {color: #fff;}
.content {
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
	padding-top: 40px;
}
.content .search-block {
	width: 913px;
	height: 220px;
	margin: 0 auto 10px;
	background: url(/images/search-form.png) no-repeat center center;
	padding-left: 45px;
}
.search-block .search-block-headline {
	line-height: 41px;
	font-size: 16px;
	color: #4c4c4c;
	letter-spacing: -0.1px;
	border-bottom: 1px dotted rgba(75,75,75,.45);
	padding-left: 47px;
	width: 479px;
	padding-top: 6px;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
	margin-bottom: 13px;
}
.content .objects-holder {width: 100%;}
.objects-holder .object-item {
	width: 100%;
	border: 1px solid #dde8eb;
	background: #e8e8e8;
	margin-bottom: 10px;
	display: table;
}
.object-item  .object-item-description {
	width: 71%;
	display: table-cell;
	background: #fff;
	padding: 10px 0 0 7px;
}
.object-item-description .object-item-headline {
	font-size: 19px;
	line-height: 35px;
	color: #073f5f;
	border-bottom: 1px solid #eef5fb;
	width: 85%;
	padding-left: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 18px;
    height: 36px;
}
.object-item-description .object-item-headline a {color: #073f5f;}
.object-item-description .object-item-info {
	color: #323333;
	line-height: 21px;
	padding-bottom: 28px;
	width: 98%;
	min-height: 85px;
}
.object-item-info .snip-desription {
	color: #1c2f3b;
	font-weight: bold;
}
.object-item-info .object-item-images {margin-top: 15px;}
.object-item-images img {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.object-item-images img:first-child {margin-left: 0;}
.object-item  .object-item-meta {
	width: 29%;
	display: table-cell;
	position: relative;
}
.object-item-meta .answers {
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: url(/images/answers.png) repeat-x;
	font-size: 19px;
	color: #073953;
	position: absolute;
	bottom: 0;
	transition: all ease-in-out .3s;
}
.object-item-meta .answers:hover {
	text-decoration: none;
	background: #0e486a;
	color: #fff;
}
.object-item-meta .object-item-meta-main {
	padding: 7px 0 0 9px;
	color: #06516a;
	font-size: 11px;
	line-height: 22px;
}
.object-item-meta-main .object-meta-date {
	padding-left: 30px;
	background: url(/images/meta.png) no-repeat left 0;
	margin-bottom: 5px;
}
.object-item-meta-main .object-meta-place {
	padding-left: 25px;
	background: url(/images/meta.png) no-repeat left -28px;
}
.object-item-meta .object-item-meta-price {
	text-align: center;
	position: absolute;
	top: 50%;
	font-size: 35px;
	color: #393d42;
	width: 100%;
}
.object-item-meta-price span {font-size: 22px;}
/*authorization*/
.content .authorization-block {color: #1c2f3b;}
.authorization-block p {margin-bottom: 30px;}
.authorization-form {
	line-height: 22px;
	width: 266px;
}
.authorization-form input[type="text"],
.authorization-form input[type="password"] {
	width: 224px;
	height: 31px;
	margin-bottom: 15px;
	border: 1px solid #cfdce0;
	transition: all .3s ease-in-out;
	padding-left: 40px;
	font-size: 15px;
	color: #888;
	background-image: url(/images/authrization-form.png);
	background-repeat: no-repeat;
}
.authorization-form input:focus {border: 1px solid #82b5c8;}
.authorization-form input[type="text"] {background-position: 13px 8px;}
.authorization-form input[type="password"] {background-position: 13px -39px;}
.authorization-form .authorization-links {width: 100%;}
.authorization-links .authorization-links-part {
	float: left;
	width: 160px;
}
.authorization-links-part a {
	color: #054157;
	padding-left: 20px;
	background-image: url(/images/authrization-links.png);
	background-repeat: no-repeat;
}
.authorization-links-part a.authorization-link-forgot {background-position: 3px 3px;}
.authorization-links-part a.authorization-link-reg {background-position: 3px -19px;}
.authorization-links button {
	width: 96px;
	float: right;
	text-align: center;
	color: #636262;
	height: 36px;
	line-height: 33px;
	font-size: 16px;
	transition: all .3s ease-in-out;
	border: 1px solid #b0c0cb;
	cursor: pointer;
}
.authorization-links button:hover {
	border: 1px solid #054157;
	background: #054157;
	color: #fff;
}
/*vacancy*/
.breadcrumb {
	font-size: 13px;
	color: #054157;
	margin-top: -40px;
	line-height: 50px;
}
.breadcrumb ul li {
	float: left;
	padding-left: 5px;
}
.breadcrumb ul li:before {content: '>';}
.breadcrumb ul li:first-child:before {content: '';}
.breadcrumb ul li a {color: #054157;}
.product-holder {
	border: 1px solid #cfdde9;
	background: #fff;
	padding: 15px 10px 65px 10px;
	position: relative;
	margin-bottom: 10px;
}
.product-holder .product-meta {
	color: #06516a;
	line-height: 17px;
	border-bottom: 1px solid #c2c4c4;
	margin-bottom: 15px;
}
.product-holder .product-title {
	color: #376f83;
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: bold;
}
.product-holder .product-sub-meta {color: #1c2f3b;}
.product-sub-meta .product-sub-meta-item {margin-bottom: 15px;}
/*vacancies, orders*/
.columns-holder {width: 100%;}
.columns-holder .column-left {
	float: left;
	width: 70.64%;
}
.column-product-item {
	background: #fff;
	border: 1px solid #cfdde9;
	padding: 10px;
	margin-bottom: 10px;
}
.column-product-item .column-product-item-top,
.object-item-description .column-product-item-top {
	margin-bottom: 8px;
	color: #06516a;
	font-size: 13px;
	line-height: 17px;
}
.object-item-description .column-product-item-top {margin-bottom: 18px;}
.column-product-item-top .column-product-title {
	font-size: 24px;
	font-weight: bold;
	color: #376f83;
	float: left;
}
.column-product-item-top .column-product-price {float: right;}
.column-product-price .product-price-value {
	font-size: 18px;
	line-height: 17px;
	font-weight: bold;
}
.column-product-item .column-product-item-description,
.object-item-description .column-product-item-description {
	color: #1c2f3b;
	margin-bottom: 9px;
	min-height: 60px;
	padding-right: 10px;
}
.object-item-description .column-product-item-description {padding-bottom: 30px;}
.column-product-item .column-product-item-date,
.object-item-description .column-product-item-date {
	padding-left: 30px;
	background: url(/images/meta.png) no-repeat left 0;
	font-size: 11px;
	line-height: 22px;
	color: #06516a;
}
.columns-holder .column-right {
	float: right;
	width: 27%;
}
.column-right .column-searcher-holder {
	background: #cfdde9;
	padding: 10px 6px;
}
.column-searcher-holder .column-searcher-selects {
	padding: 5px 18px;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
}
.column-searcher-selects .column-searcher-select-label {
	font-size: 18px;
	line-height: 23px;
	color: #044058;
	margin-bottom: 3px;
}
.column-searcher-selects select {
	width: 100%;
	border: 1px solid #b1c8da;
	margin-bottom: 17px;
	background: #fff;
	outline: 0 none;
	height: 25px;
	color: #474848;
}
.column-searcher .column-searcher-categories {
	padding: 0 18px;
	line-height: 22px;
}
.column-searcher-categories .column-searcher-categories-headline {
	font-size: 18px;
	line-height: 23px;
	color: #044058;
	margin-bottom: 18px;
}
.searcher-categories.specialists-searcher {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
	margin-bottom: 40px;
}
.searcher-categories li {
	margin-bottom: 20px;
	height: 20px;
	overflow: hidden;
	transition: height .3s ease-in-out;
}
.searcher-categories li .searcher-categories-item {color: #054157;}
.searcher-categories li .searcher-categories-item label {cursor: pointer;}
.searcher-categories li > .searcher-categories-item {background: url(/images/searcher-bullet.png) no-repeat 0 5px;}
.searcher-categories > li.active > .searcher-categories-item {background: url(/images/searcher-bullet.png) no-repeat 0 -21px;}
.searcher-categories.registr-type li > .searcher-categories-item {background: url(/images/registr.png) no-repeat 0 2px;}
.searcher-categories.registr-type > li.active > .searcher-categories-item {background: url(/images/registr.png) no-repeat 0 -21px;}
.searcher-categories li.active > .searcher-categories-item {font-weight: bold;}
.searcher-categories li .searcher-categories-item > label input[type="checkbox"] {opacity: 0;}
.searcher-categories .searcher-sub-categories {margin-left: 20px;}
.searcher-sub-categories li {margin-bottom: 0;}
.searcher-sub-categories li .searcher-categories-item {background: none; }
.column-searcher-categories button {
	background: #eef5fb;
	width: 100%;
	border: none;
	outline: 0 none;
	text-align: center;
	text-transform: uppercase;
	color: #044355;
	line-height: 30px;
	cursor: pointer;
	transition: all ease-in-out .3s;
}
.column-searcher-categories button:hover {
	color: #fff;
	background: #054157;
}
.pagination-holder {
	text-align: center;
	padding-top: 15px;
	background: url(/images/pagination.png) no-repeat center bottom;
	margin-bottom: 30px;
}
.pagination-holder .pagination-left,
.pagination-holder .pagination-pages,
.pagination-holder .pagination-right {display: inline-block;}
.pagination-holder .pagination-left,
.pagination-holder .pagination-right {
	width: 14px;
	height: 14px;
	background-image: url(/images/pagi.png);
	background-repeat: no-repeat;
}
.pagination-holder .pagination-left {background-position: 0 0;}
.pagination-holder .pagination-right {background-position: 0 -25px;}
.pagination-holder .pagination-pages {
	margin: 0 15px;
	font-size: 11px;
	line-height: 21px;
}
.pagination-pages li {display: inline-block;}
.pagination-pages li a {
	color: #767676;
	position: relative;
	padding-top: 7px;
	display: block;
	width: 25px;
}
.pagination-pages li a:hover,
.pagination-pages li a.active {
	color: #fff;
	background: url(/images/pagi_hover.png) no-repeat center center;
	text-decoration: none;
}
/* my_order */
.product-meta .product-meta-title {
	padding-left: 25px;
	background-image: url(/images/meta.png);
	background-repeat: no-repeat;
	line-height: 22px;
}
.product-meta .product-meta-title.date {background-position: 0 0;}
.product-meta .product-meta-title.place {background-position: 0 -26px;}
.product-meta .product-meta-title.phone {background-position: 0 -51px;}
.product-meta .product-customer {
	background: #f1ead8;
	padding: 12px 10px 15px;
	width: 100%;
	margin: 0 0 10px -10px;
	font-weight: bold;
}
.product-customer .product-customer-left {
	float: left;
	font-size: 17px;
	line-height: 21px;
}
.product-customer .product-customer-right {
	color: #3f4347;
	font-size: 25px;
	float: right;
	line-height: 42px;
}
.product-customer-left span {color: #000;}
.product-sub-meta .product-sub-meta-headline {
	font-size: 18px;
	margin-bottom: 15px;
	color: #054157;
	margin-top: 15px;
}
/* my_objects */
.my-page-content {margin-top: -40px;}
.my-page-content .my-page-navbar {
	float: left;
	width: 17%;
	background: #cfdde9;
	min-height: 325px;
}
.my-page-navbar .my-page-navbar-links {padding: 40px 0 0 5px;}
.my-page-navbar-links li {margin-bottom: 5px;}
.my-page-navbar-links li a {
	line-height: 30px;
	color: #054157;
	background: url(/images/my_links.png) no-repeat left -25px;
	padding-left: 12px;
}
.my-page-navbar-links li a:hover {background: url(/images/my_links.png) no-repeat left 6px;}
.my-page-navbar-links li a.active {
	background: url(/images/my_links.png) no-repeat left 6px;
	font-weight: bold;
}
.my-page-content .my-page-wrapper {
	float: left;
	width: 83%;
}
.my-page-breadcrumb {
	background: #d7dce3;
	line-height: 32px;
	margin-bottom: 14px;
	padding-left: 13px;
}
.my-page-breadcrumb ul {
	padding-left: 14px;
	position: relative;
}
.my-page-breadcrumb ul:before {
	content: '';
	width: 8px;
	height: 16px;
	background: #aab4c1;
	position: absolute;
	left: 0;
	top: 8px;
	border-radius: 1px;
}
.my-page-breadcrumb ul li {display: inline-block;}
.my-page-breadcrumb ul li:before {
	content: '>';
	color: #044058;
}
.my-page-breadcrumb ul li:first-child:before {content: '';}
.my-page-breadcrumb ul li a {
	color: #044058;
	white-space: nowrap;
}
.my-page-wrapper .product-holder {margin-left: 13px;}
.product-holder .product-theme {
	padding-bottom: 14px;
	color: #054157;
}
.product-holder .product-theme a {color: #054157;}
.product-theme .product-theme-headline {
	width: 100%;
	padding: 0 10px;
	margin: 0 0 15px -10px;
	line-height: 33px;
	background: url(/images/product-theme-headline.png) repeat-x;
	color: #054157;
}
.product-theme-headline span {
	position: relative;
	padding-left: 14px;
}
.product-theme-headline span:before {
	content: '';
	width: 8px;
	height: 16px;
	background: #aab4c1;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 1px;
}
.product-holder .product-holder-control {
	position: absolute;
	right: 10px;
	top: 10px;
}
.product-holder-control a {
	color: #044058;
	line-height: 23px;
	display: inline-block;
	margin-left: 15px;
}
.product-holder .product-description {
	color: #010101;
	line-height: 20px;
	padding: 15px 0;
}
.feedback-item {margin-bottom: 10px;}
.feedback-item .feedback-item-body {
	padding-bottom: 10px;
	margin-bottom: 8px;
	border-bottom: 1px solid #b7c6cb;
}
.feedback-item-body .feedback-item-avatar {
	width: 81px;
	height: 81px;
	float: left;
	background: #146f90;
}
.feedback-item-body .feedback-item-content {
	float: left;
	margin-left: 15px;
	font-size: 13px;
	color: #000;
	width: 85%;
}
.feedback-item-content .feedback-item-content-left {
	width: 80%;
	float: left;
}
.feedback-item-content-left .feedback-name {margin-bottom: 10px;}
.feedback-name a {color: #054157;}
.feedback-name a span {
	font-size: 16px;
	font-weight: bold;
}
.feedback-item-content-left .feedback-text {margin-bottom: 10px;}
.feedback-item-content-left .feedback-candidate {font-size: 11px;}
.feedback-item-content .feedback-item-content-right {
	float: left;
	width: 20%;
}
.feedback-item-content-right .feedback-item-date {
	margin-bottom: 22px;
	font-size: 13px;
}
.feedback-likes .like {
	display: block;
	float: left;
	margin-left: 15px;
	cursor: pointer;
	color: #054157;
	line-height: 21px;
	padding-left: 25px;
	background: url(/images/like.png) no-repeat 0 0;
	font-weight: bold;
}
.feedback-likes .like.dislike {background: url(/images/like.png) no-repeat 0 -31px;}
.feedback-item-reply .feedback-item-reply-button {
	padding: 0 20px;
	font-size: 12px;
	color: #054157;
	line-height: 30px;
	border: 1px solid #afbfca;
	display: inline-block;
	height: 30px;
	cursor: pointer;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d5dfe4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d5dfe4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefefe 0%,#d5dfe4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d5dfe4',GradientType=0 ); /* IE6-9 */
}
.feedback-item-reply .feedback-item-reply-button:hover {
	text-decoration: none;
	color: #fff;
	background: #054157; /* Old browsers */
	background: -moz-linear-gradient(top,  #054157 0%, #0378a3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #054157 0%,#0378a3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #054157 0%,#0378a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054157', endColorstr='#0378a3',GradientType=0 ); /* IE6-9 */
}
/* message */
.dialogs-holder {margin: 0 0 0 10px;}
.dialogs-holder .dialog-item {
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cfdde9;
}
.dialog-item .dialog-item-avatar {
	width: 55px;
	height: 55px;
	float: left;
	background: #054157;
}
.dialog-item .dialog-item-content {
	float: left;
	padding-left: 15px;
	color: #242424;
	width: 90%;
}
.dialog-item-content .dialog-item-name {
	line-height: 22px;
	margin-bottom: 5px;
	font-size: 12px;
	color: #054157;
}
.dialog-item-name a {
	color: #054157;
	font-weight: bold;
	font-size: 14px;
}
.dialog-item .dialog-item-text {margin-bottom: 10px;}
.dialog-item .dialog-item-time {
	font-size: 12px;
	color: #054157;
}
.dialogs-holder .load-old-dialogs {
	font-size: 16px;
	color: #636262;
	line-height: 30px;
	border: 1px solid #afbfca;
	display: block;
	height: 30px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d5dfe4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d5dfe4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefefe 0%,#d5dfe4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d5dfe4',GradientType=0 ); /* IE6-9 */
	text-align: center;
	margin-bottom: 10px;
}
.dialogs-holder .load-old-dialogs:hover {
	text-decoration: none;
	color: #fff;
	background: #054157; /* Old browsers */
	background: -moz-linear-gradient(top,  #054157 0%, #0378a3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #054157 0%,#0378a3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #054157 0%,#0378a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054157', endColorstr='#0378a3',GradientType=0 ); /* IE6-9 */
}
/* dialog */
.dialogs-holder .show-old-dialogs {
	text-align: center;
	display: block;
	margin-bottom: 10px;
	background: #cfdde9;
	height: 17px;
	line-height: 17px;
	font-size: 13px;
	color: #054157;
}
.dialogs-holder .speech-item {
	margin-bottom: 11px;
	color: #242424;
}
.speech-item .speech-item-avatar {
	width: 55px;
	height: 55px;
	float: left;
	background: #054157;
}
.speech-item .speech-item-content {
	width: 90%;
	float: left;
	padding-left: 14px;
}
.speech-item-content .speech-item-top {
	color: #054157;
	font-size: 12px;
}
.speech-item-top .speech-item-name {
	font-weight: bold;
	line-height: 23px;
	font-size: 14px;
	float: left;
	color: #054157;
}
.speech-item-top .speech-item-date {float: right;}
.dialogs-holder .speech-write-form {padding-top: 5px;}
.speech-write-form .speech-write-form-title {
	color: #054157;
	margin-bottom: 7px;
	font-weight: bold;
}
.speech-write-form textarea,
.tipical-textarea {
	display: block;
	width: 100%;
	border: 1px solid #cfdde9;
	resize: none;
	height: 100px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 6px;
}
.tipical-textarea {margin-bottom: 10px;}
.speech-write-form button {
	cursor: pointer;
	float: right;
	font-size: 16px;
	padding: 0 10px;
	color: #636262;
	border: 1px solid #afbfca;
	display: inline-block;
	height: 30px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d5dfe4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d5dfe4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefefe 0%,#d5dfe4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d5dfe4',GradientType=0 ); /* IE6-9 */
	text-align: center;
	margin-bottom: 10px;
}
.speech-write-form button:hover {
	text-decoration: none;
	color: #fff;
	background: #054157; /* Old browsers */
	background: -moz-linear-gradient(top,  #054157 0%, #0378a3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #054157 0%,#0378a3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #054157 0%,#0378a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054157', endColorstr='#0378a3',GradientType=0 ); /* IE6-9 */
}
/* personal */
.my-page-wrapper-content {margin: 0 0 0 10px;}
.my-page-wrapper-content .my-page-wrapper-headline {
	color: #054157;
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: bold;
	position: relative;
}
.my-page-wrapper-content .personal-main-data {
	color: #010101;
	margin-bottom: 25px;
	font-weight: bold;
}
.personal-main-data p span {font-weight: normal;}
.my-page-wrapper-content .personal-data-form {margin-bottom: 30px;}
.personal-data-form .personal-data-form-headline {
	font-weight: bold;
	margin-bottom: 10px;
	color: #054157;
}
.personal-data-form .personal-data-row {
	margin-bottom: 3px;
	line-height: 33px;
	color: #054157;
	font-size: 12px;
}
.personal-data-row label {
	display: inline-block;
	width: 150px;
}
.pers-data .personal-data-row label {width: 100px;}
.personal-data-row input,
.personal-data-row select {
	height: 31px;
	border: 1px solid #cfdce0;
	width: 252px;
	padding: 0 6px;
	outline: 0 none;
	background: #fff;
}
.personal-data-row select {
	width: 266px;
	padding: 0;
	margin-left: -2px;
}
.personal-data-form .personal-data-form-submit {
	cursor: pointer;
	font-size: 14px;
	padding: 0 10px;
	color: #2d2d2d;
	border: 1px solid #afbfca;
	display: inline-block;
	height: 30px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d5dfe4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d5dfe4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefefe 0%,#d5dfe4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d5dfe4',GradientType=0 ); /* IE6-9 */
	text-align: center;
	margin-top: 10px;
}
.personal-data-form .personal-data-form-submit:hover {
	text-decoration: none;
	color: #fff;
	background: #054157; /* Old browsers */
	background: -moz-linear-gradient(top,  #054157 0%, #0378a3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #054157 0%,#0378a3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #054157 0%,#0378a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054157', endColorstr='#0378a3',GradientType=0 ); /* IE6-9 */
}
.personal-data-row .personal-data-row-cell {
	float: left;
	margin-left: 25px;
}
.personal-data-row .personal-data-row-cell:first-child {margin-left: 0;}
/* add vacancy */
.spec {
	color: #010101;
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
}
.personal-data-form .personal-form-snippet {
	font-style: italic;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 23px;
}
.personal-data-form .personal-data-form-text {
	color: #010101;
	margin-bottom: 10px;
	font-style: 13px;
	line-height: 23px;
}
.personal-data-form .personal-form-textarea {
	height: 90px;
	border: 1px solid #cfdce0;
	display: block;
	width: 100%;
	padding: 6px;
	outline: 0 none;
	background: #fff;
	font-family: Arial, sans-serif;
	color: #010101;
	font-size: 12px;
}
.personal-data-form .personal-form-recomendation {
	line-height: 23px;
	font-size: 14px;
	color: #010101;
	margin-bottom: 20px;
}
.personal-form-recomendation .personal-form-recomendation-headline {
	font-size: 23px;
	line-height: 23px;
	color: #146f90;
	margin-bottom: 12px;
}
/* edit vacancy */
.edit-process {color: #376f83;}
.close-edit {
	color: #ff0000;
	position: absolute;
	line-height: 21px;
	left: 220px;
	top: 5px;
	font-weight: normal;
	font-size: 14px;
}
/* company passport */
.my-page-wrapper-content .company-passport-left {
	float: left;
	width: 31.7%;
}
.company-passport-left .company-passport-avatar {
	max-height: 220px;
	overflow: hidden;
	background: #054157;
	border: 1px solid #d1deea;
	margin-bottom: 9px;
}
.company-passport-avatar img {width: 100%;}
.company-passport-left .tipical-button {
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
}
.file_upload{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.file_upload > button {height: 100%;}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
.my-page-wrapper-content .company-passport-right {
	float: right;
	width: 66.4%;
}
.company-passport-right .company-passport-title {
	font-size: 24px;
	color: #054157;
	margin-bottom: 15px;
	font-weight: bold;
}
.company-passport-right .company-passport-content {
	margin-bottom: 25px;
	font-size: 15px;
	line-height: normal;
	color: #000;
}
.company-passport-right .company-passport-map {
	max-height: 393px;
	overflow: hidden;
	border: 1px solid #a3bbd0;
}
.modal-write-message-form .tipical-textarea {
	height: 158px;
	width: 98%;
	padding: 6px;
}
.write-message-form-bottom button {
	float: left;
	line-height: normal;
	padding: 0 20px;
}
.write-message-form-bottom .goto {
	float: right;
	padding-right: 17px;
	background: url(/images/goto.png) no-repeat right center;
	line-height: 30px;
	font-size: 12px;
	color: #054157;
}
#user-login .authorization-form {margin: 0 auto;}
.cancel-headline {
	font-size: 21px;
	line-height: 22px;
	color: #000;
	text-align: center;
}
.cancel-subheadline {
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	color: #054157;
	margin-bottom: 30px;
}
.cancel-application-buttons {
	margin: 0 auto;
	width: 246px;
}
.cancel-application-buttons .tipical-button {
	width: 96px;
	float: left;
}
.cancel-application-buttons .tipical-button:last-child {float: right;}
/* make order */
.personal-data-row .personal-data-row-cell.calendar-cell {
	width: 170px;
	margin-left: 5px;
}
.calendar-cell > label {
	width: auto;
	padding-right: 10px;
	float: left;
}
.calendar-cell > input {
	width: 80px;
	float: left;
}
.calendar-cell .calendar {
	display: block;
	margin-left: 10px;
	background: url(/images/calendar.png) no-repeat center center;
	width: 36px;
	height: 34px;
	float: left;
}
.worker-row {
	margin-bottom: 3px;
	color: #000;
	font-size: 14px;
	line-height: 33px;
}
.worker-row .worker-row-cell {
	float: left;
	width: 275px;
}
.worker-row .worker-row-control {
	float: left;
	display: block;
	width: 20px;
	height: 30px;
	background-image: url(/images/worker.png);
	background-repeat: no-repeat;
}
.worker-row .worker-row-control.minus {background-position: 0 13px;}
.worker-row .worker-row-control.plus {background-position: 0 -19px;}
.worker-row-cell select,
.worker-row-cell input {
	height: 31px;
	border: 1px solid #cfdce0;
	outline: 0 none;
	background: #fff;
	width: 175px;
	padding: 0;
	margin-left: -2px;
}
.worker-row-cell input {
	margin: 0 10px;
	width: 18px;
	padding: 0 6px;
}
/* registration */
.registration-holder .registration-breadcrumb {margin-bottom: 30px;}
.registration-breadcrumb .registration-breadcrumb-step {
	display: block;
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	font-size: 23px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	background: url(/images/steps.png) no-repeat -121px 0;
	color: #fff;
}
.registration-breadcrumb .registration-breadcrumb-step:hover,
.registration-breadcrumb .registration-breadcrumb-step.active {
	text-decoration: none;
	background: url(/images/steps.png) no-repeat -1px 0;
	position: relative;
}
.registration-breadcrumb .registration-breadcrumb-break {
	float: left;
	width: 60px;
	color: #777e82;
	text-align: center;
	margin-right: 10px;
	background: url(/images/break.png) no-repeat center center;
	height: 40px;
}
.registration-breadcrumb .registration-breadcrumb-step.active:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 9px;
	background: url(/images/active.png) no-repeat center center;
	bottom: -14px;
	left: 50%;
	margin-left: -6px;
}
.registration-form .registration-form-headline {
	font-size: 16px;
	font-weight: bold;
	color: #1c2f3b;
	margin-bottom: 10px;
}
.registration-form .registration-form-columns {
	padding-bottom: 20px;
	border-bottom: 4px solid #d0dbdf;
}
.registration-form-columns .registration-form-column1 {
	float: left;
	width: 55.33%;
	margin-right: 1.5%;
}
.registration-form-column1 .registration-form-row {margin-bottom: 11px;}
.registration-form-row .registration-form-row-cell {
	float: left;
	width: 48.45%;
	margin-left: 3.09%;
}
.registration-form-row .registration-form-row-cell:first-child {margin-left: 0;}
.registration-form-row-cell select,
.registration-form-row-cell input[type="text"] {
	width: 100%;
	height: 33px;
	line-height: 33px;
	border: 1px solid #cfdce0;
	color: #616060;
	font-size: 15px;
}
.registration-form-row-cell input[type="text"] {
	padding: 0 4%;
	width: 92%;
}
.registration-form-columns .registration-form-column2 {
	float: left;
	width: 43.15%;
}
.registration-form-column2 .user-avatar {
	display: block;
	width: 182px;
	height: 190px;
	float: left;
	background: url(/images/user-avatar.png) no-repeat center center;
}
.registration-form-column2 .user-avatar-content {
	float: left;
	color: #054157;
	line-height: 22px;
	padding-left: 10px;
}
.user-avatar-content .tipical-button {
	margin-bottom: 4px;
	color: #636262;
	font-size: 16px;
	display: block;
	width: 100%;
}
.user-avatar-content a.tipical-button {width: 99%;}
.user-avatar-content .tipical-button:hover {color: #fff;}
.registration-form .forward {
	float: right;
	margin: 11px 0;
	color: #636262;
	font-size: 16px;
	width: 110px;
	height: 33px;
}
.registration-form .forward:hover {color: #fff;}
.registration-form-columns .main-place {
	margin-bottom: 25px;
	color: #1c2f3b;
}
.main-place .main-place-title {
	font-weight: bold;
	margin-bottom: 10px;
}
.main-place input[type="text"] {
	width: 254px;
	height: 33px;
	line-height: 33px;
	border: 1px solid #cfdce0;
	color: #616060;
	font-size: 15px;
	padding: 0 6px;
}
.registration-form-columns .agree {
	line-height: 22px;
	color: #000;
}
.agree > a {color: #054157;}
/* objects */
.my-page-wrapper-content .objects-tabel-holder {
	margin-bottom: 35px;
	color: #000;
}
.objects-tabel-holder .objects-tabel-headline {
	color: #054157;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.objects-tabel-holder .objects-tabel {
	border-top: 1px solid #ccc;
	padding: 4px 0 5px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.objects-tabel-holder .objects-tabel:last-of-type {border-bottom: 1px solid #ccc;}
.objects-tabel .objects-tabel-row {
	display: table;
	width: 100%;
}
.objects-tabel-row .objects-tabel-cell {
	display: table-cell;
	border-right: 1px solid #b0c0cb;
	vertical-align: middle;
	padding-left: 10px;
}
.objects-tabel-row .objects-tabel-cell:last-child {
	border-right: none;
	text-align: right;
	padding: 0 10px 0 0!important;
}
.objects-tabel-row .objects-tabel-cell.exposed-name {width: 66%;}
.objects-tabel-row .objects-tabel-cell.exposed-small {
	width: 17%;
	font-size: 14px;
	padding: 0;
}
.objects-tabel-row .objects-tabel-cell.feedback-name {width: 50%;}
.objects-tabel-row .objects-tabel-cell.feedback-mid {
	width: 35%;
	font-size: 13px;
	padding: 5px 0 5px 10px;
}
.objects-tabel-row .objects-tabel-cell.feedback-small {
	width: 15%;
	font-size: 14px;
}
.objects-tabel-row .objects-tabel-cell.exposed-small.cntr {text-align: center;}
.objects-tabel-row .objects-tabel-cell a {color: #054157;}
.objects-tabel-holder .tipical-button {
	padding: 0 6px;
	font-size: 12px;
	margin-top: 10px;
}
.feedback-info {padding-left: 35px;}
.feedback-info.ok {background: url(/images/ok.png) no-repeat left center;}
.feedback-info.alert {background: url(/images/alert.png) no-repeat left center;}
.objects-tabel-row .edit-snippet {
	color: #054157;
	font-size: 13px;
	padding-top: 5px;
}
.archive-subheadline {
	font-weight: bold;
	margin-bottom: 15px;
	color: #054157;
	font-size: 15px;
}
.archive-table {
	width: 100%;
	margin-bottom: 10px;
}
.archive-table:first-of-type {margin-bottom: 25px;}
.archive-table tr th,
.archive-table tr td {
	vertical-align: middle;
	font-size: 15px;
	box-shadow: 0 -2px 0 #eef5fb inset;
	border-left: 1px solid #aebdc4;
}
.archive-table tr th {
	height: 40px;
	background: #d8e1e6;
	color: #054157;
}
.archive-table tr td {
	height: 30px;
	background: #cfdde9;
	color: #000;
	text-align: center;
}
.archive-table tr th:first-child,
.archive-table tr td:first-child {border-left: none;}
.archive-table tr td:nth-child(2) {
	text-align: left;
	padding-left: 15px;
}
.archive-table tr:last-child td {box-shadow: none;}
.archive-table tr:nth-child(2n+1) td {background: #bfced6;}
/* specialists */
.specialist-holder {
	margin-bottom: 35px;
	font-size: 15px;
	color: #1a1a1a;
	position: relative;
}
.specialist-holder .star-master {
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	height: 21px;
	background: url(/images/star.png) no-repeat 0 0;
	cursor: pointer;
}
.specialist-holder .star-master:hover {background: url(/images/star.png) no-repeat 0 -39px;}
.specialist-holder .star-master.active {background: url(/images/star.png) no-repeat 0 -79px;}
.specialist-holder .specialist-avatar {
	border: 1px solid #d1dfea;
	float: left;
	width: 26.5%;
	overflow: hidden;
}
.specialist-avatar img {
	display: block;
	width: 100%;
}
.specialist-holder .specialist-meta {
	float: left;
	padding-left: 2%;
	width: 71%;
}
.specialist-meta p {margin-bottom: 0;}
.specialist-meta .specialist-name {
	font-weight: bold;
	font-size: 24px;
	color: #376f83;
	position: relative;
	margin-bottom: 25px;
	display: inline-block;
}
.specialist-name .valid {
	position: absolute;
	color: #999173;
	right: -105px;
	top: 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 19px;
	padding-left: 28px;
	background: url(/images/valid.png) no-repeat center left;
}
.specialist-name .views {
	position: absolute;
	color: #054157;
	right: -245px;
	top: 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
}
.specialist-meta .specialist-feedbacks {
	color: #092b45;
	font-size: 14px;
	padding-left: 37px;
	background: url(/images/feed.png) no-repeat left center;
	line-height: 22px;
	display: inline-block;
}
.product-sub-headline {
	color: #054157;
	font-size: 18px;
	margin-bottom: 10px;
}
.specialists-advantages {padding-bottom: 20px;}
.specialists-advantages p {margin-bottom: 15px;}
/* specialist */
.specialist-holder .last-time {
	font-size: 14px;
	line-height: 23px;
	color: #373737;
	position: absolute;
	top: 25px;
	right: 0;
}
.specialist-personal p {margin-bottom: 5px;}
.column-product-item .specialist-feedback {
	padding-bottom: 40px;
	position: relative;
	color: #161819;
}
.specialist-feedback p {margin-bottom: 0;}
.specialist-feedback .specialist-feedback-headline {
	width: 100%;
	font-size: 15px;
	line-height: 40px;
	border-bottom: 1px solid #bbbfc2;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,.28) 0%, rgba(148,175,197,.28) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,.28) 0%, rgba(148,175,197,.28) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,.28) 0%, rgba(148,175,197,.28) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#94afc5',GradientType=0 ); /* IE6-9 */
	padding: 0 10px;
	margin: 0 0 15px -10px;
}
.specialist-feedback-headline a {color: #054157;}
.specialist-feedback .feedback-author {
	position: absolute;
	bottom: 25px;
	right: 0;
	color: #146f90;
	font-weight: bold;
}
.column-product-item .show-more-holder {
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}
.show-more-holder .show-more {
	display: inline-block;
	width: 240px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	color: #000;
	font-size: 14px;
	transition: all .3s ease-in-out;
	border: 1px solid #cfdde9;
}
.show-more-holder .show-more:hover {
	color: #fff;
	text-decoration: none;
	background: #146f90;
}
/* my passport */
.passport-main-holder {
	margin-bottom: 30px;
	color: #000;
}
.passport-main-holder .passport-main-left {
	float: left;
	width: 21%;
}
.passport-main-left .passport-avatar {
	width: 100%;
	border: 1px solid #d1deea;
	display: block;
	margin-bottom: 8px;
}
.passport-avatar img {
	width: 100%;
	display: block;
}
.passport-main-left .tipical-button {
	width: 99.3%;
	margin-bottom: 8px;
	font-size: 15px;
	color: #636262;
}
.passport-main-left .tipical-button a {color: #636262;}
.passport-main-left .tipical-button:hover {color: #fff;}
.passport-main-holder .passport-main-right {
	float: left;
	width: 77%;
	padding-left: 2%;
}
.passport-main-right  .specialist-meta {float: none;}
.change-personal-data {
	color: #054157;
	position: absolute;
	right: 0;
	top: 50px;
}
.change-status {
	display: inline-block;
	color: #054157;
	margin-left: 15px;
	font-size: 12px;
	background: none;
	border: none;
	cursor: pointer;
	text-decoration: underline;
}
.change-status:hover {text-decoration: none;}
.specialist-meta-block {padding: 0 10px 15px 10px;}
.specialist-meta-block .specialist-block-title {
	height: 33px;
	line-height: 33px;
	padding: 0 10px;
	margin: 0 0 10px -10px;
	line-height: 33px;
	background: url(/images/product-theme-headline.png) repeat-x;
	color: #054157;
	position: relative;
}
.specialist-block-title span {
	position: relative;
	padding-left: 14px;
}
.specialist-block-title span:before {
	content: '';
	width: 8px;
	height: 16px;
	background: #aab4c1;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 1px;
}
.specialist-block-title .tipical-button {
	font-size: 12px;
	padding: 0 12px;
	position: absolute;
	top: 1px;
	right: 0;
}
.specialist-meta-block .specialist-block-subtitle {
	color: #054157;
	font-weight: bold;
}
.specialist-meta-block a {color: #054157;}
.specialist-meta-block .feedback-field {
	color: #000;
	margin-top: 25px;
}
.feedback-field .feedback-field-headline {
	font-weight: bold;
	margin-bottom: 10px;
}
.specialist-meta-block .feedback-evaluation {
	margin-top: 15px;
	font-size: 15px;
	line-height: 36px;
	font-weight: bold;
}
.feedback-evaluation span,
.feedback-evaluation .tipical-button {
	float: left;
	display: block;
	margin-right: 15px;
}
.feedback-evaluation .tipical-button {
	width: 130px;
	padding-left: 50px;
	color: #000;
	height: 36px;
}
.feedback-evaluation .tipical-button:hover {color: #fff;}
.feedback-evaluation .tipical-button.good {background: url(/images/likes.png) no-repeat 20px 3px #f4f7f8;}
.feedback-evaluation .tipical-button.good:hover {background: url(/images/likes.png) no-repeat 20px -53px #146f90;}
.feedback-evaluation .tipical-button.bad {background: url(/images/likes.png) no-repeat 20px -107px #f4f7f8;}
.feedback-evaluation .tipical-button.bad:hover {background: url(/images/likes.png) no-repeat 20px -163px #146f90;}
.specialist-meta-block .feedback-counter {
	font-size: 14px;
	color: #054157;
	margin-bottom: 25px;
}
.feedback-counter * {display: inline-block;}
.feedback-counter span {margin: 0 15px;}
.specialist-meta-block .feedback-passport-item {
	background: #fff;
	padding: 10px;
	border: 1px solid #cfdde9;
	margin-bottom: 11px;
	color: #161819;
	margin-left: -10px;
}
.specialist-meta-block .feedback-passport-item:last-of-type {margin-bottom: 0;}
/* my works */
.my-works-top {
	line-height: 23px;
	padding-bottom: 25px;
	border-bottom: 1px solid #cfdde9;
	margin-bottom: 25px;
}
.my-works-top p {margin-bottom: 0;}
.my-works-top b {color: #054157;}
.add-myworks-holder {margin-bottom: 20px;}
.add-myworks-form .add-myworks {padding-right: 10px;}
.add-myworks .add-myworks-left {
	float: left;
	width: 38.5%;
}
.add-myworks-left .add-myworks-form-item {
	margin-bottom: 5px;
	color: #054157;
	font-size: 14px;
}
.add-myworks-form-item > div {margin-bottom: 3px;}
.add-myworks-form-item input {
	width: 96%;
	height: 31px;
	border: 1px solid #cfdce0;
	transition: all .3s ease-in-out;
	font-size: 15px;
	color: #888;
	padding: 0 2%;
}
.authorization-form input:focus {border: 1px solid #82b5c8;}
.add-myworks .add-myworks-right {
	float: right;
	width: 46%;
}
.add-myworks-right .my-works-button {
	display: block;
	width: 100%;
	height: 214px;
	line-height: 214px;
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
	background: none;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
	border: none;
	outline: 0 none;
	margin-top: 20px;
}
.add-myworks-form .myworks-description {
	margin-bottom: 20px;
	color: #054157;
}
.myworks-description .tipical-button {
	width: 175px;
	line-height: normal;
	float: right;
}
.myworks-type .specialist-block-title {width: 100%;}
.myworks-year-holder {padding-bottom: 10px;}
.myworks-year-holder .myworks-year-title {
	padding: 0 10px;
	height: 21px;
	background: #cfdde9;
	line-height: 21px;
	color: #054157;
	margin-bottom: 23px;
	margin-left: -10px;
	width: 100%;
}
.myworks-year-holder .myworks-year-items {color: #054157;}
.myworks-year-items .myworks-year-item {
	float: left;
	width: 31%;
	margin-left: 3.5%;
}
.myworks-year-items .myworks-year-item:first-child {margin-left: 0;}
.myworks-year-item .myworks-item-meta p {margin-bottom: 0;}
.myworks-year-item .myworks-item-photo {
	display: block;
	width: 100%;
	height: 144px;
	margin: 10px 0;
	background: #054157;
}
/* product photo */
.product-photo-holder .product-photo-item {
	float: left;
	width: 49%;
	margin-left: 2%;
	margin-bottom: 25px;
}
.product-photo-holder .product-photo-item:nth-child(2n+1) {margin-left: 0;}
.product-photo-item .product-photo {
	display: block;
	overflow: hidden;
	width: 100%;
	border: 1px solid #80a8b6;
	height: 232px;
	margin-bottom: 10px;
	position: relative;
}
.product-photo-item .product-photo img {
	min-height: 232px;
	width: 100%;
}
.product-photo .product-photo-scope {
	width: 100%;
	height: 232px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: url(../images/scope.png) no-repeat center center rgba(167,238,244,.66);
	opacity: 0;
	transition: all .3s ease-in-out;
}
.product-photo:hover .product-photo-scope {opacity: 1;}
.product-photo-item .product-photo-name {color: #1c2f3b;}
.modal-works-photo {
	max-width: 100%;
	display: block;
	margin-bottom: 15px;
	border: 1px solid #b8cbdf;
}
.modal-photo-content p {margin-bottom: 0;}
/* index */
.tipical-select {
	width: 100%;
	border: 1px solid #b1c8da;
	margin-bottom: 17px;
	background: #fff;
	outline: 0 none;
	height: 25px;
	color: #474848;
}
.search-block-left .tipical-select {margin-bottom: 10px;}
.search-block-holder {padding-left: 15px;}
.search-block-holder .search-block-left {
	float: left;
	width: 31.75%;
}
.search-block-holder .search-block-right {
	float: left;
	width: 62%;
	margin-left: 2%;
}
.search-block-right .tipical-textarea {
	width: 98%;
	padding: 5px 1%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 3px;
}
.search-block-right button {
	line-height: normal;
	float: right;
	width: 76px;
}
.add-work-photo img {width: 50%;}
/* page styles end */

/* media query start */
@media (max-width: 1024px) {}
/* media query end */

/* slider */
/* jssor slider bullet navigator skin 03 css */
/*
.jssorb03 div           (normal)
.jssorb03 div:hover     (normal mouseover)
.jssorb03 .av           (active)
.jssorb03 .av:hover     (active mouseover)
.jssorb03 .dn           (mousedown)
*/
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url('img/b03.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

/* jssor slider arrow navigator skin 03 css */
/*
.jssora03l                  (normal)
.jssora03r                  (normal)
.jssora03l:hover            (normal mouseover)
.jssora03r:hover            (normal mouseover)
.jssora03l.jssora03ldn      (mousedown)
.jssora03r.jssora03rdn      (mousedown)
*/
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('/images/a03.png') no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }

/* my slider styles */
.photo-carousel-standart {margin: 15px 0;}
.rotator-holder {
	position: relative;
	margin: 0 auto;
	top: 0px;
	left: 0px;
	width: 800px;
	max-height: 150px;
	overflow: hidden;
	visibility: hidden;
}
.rotator-inner {
	position: absolute; 
	top: 0px;
	left: 0px;
}
.rotator-inner-block {
	filter: alpha(opacity=70);
	opacity: .7;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.rotator-inner-load {
	position:absolute;
	display:block;
	background:url('img/loading.gif') no-repeat center center;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.rotator-content {
	cursor: default;
	position: relative;
	top: 0px;
	left: 0px;
	width: 800px;
	max-height: 150px;
	overflow: hidden;
}
.jssorb03 {
	border-radius: 6px;
	background: rgba(0,0,0,.6);
	left: 0;
	bottom: 0!important;
}
/* new */
.navigation li a.active {
	font-weight: bold;
	color: #ffcd00;
}
.add_photo_modal_text {
	font-size: 14px;
	line-height: 18px;
}
.add_photo_modal_text span.semi-red {color: #d73838;}
.add_photo_modal_buttons {margin-top: 30px;}
.add_photo_modal_buttons .tipical-button {
	padding: 0 10px;
	color: #636262;
	font-size: 15px;
	float: left;
	margin-right: 30px;
}
.add_photo_modal_buttons .file_upload {float: left;}
.add_photo_modal_buttons .tipical-button:hover {color: #fff;}
.add_photo_modal_photo .tipical-button {
	padding: 0 10px;
	color: #636262;
	font-size: 15px;
	line-height: normal;
}
.add_photo_modal_photo .tipical-button:hover {color: #fff;}
.add_photo_modal_img {margin: 20px 0;}
.add_photo_modal_photo .add_photo_modal_imgtext {
	font-size: 12px;
	line-height: 16px;
	color: #636262;
	margin: 20px 0;
}
.authorization-form input[type="email"] {
	width: 250px;
	height: 31px;
	margin-bottom: 15px;
	border: 1px solid #cfdce0;
	transition: all .3s ease-in-out;
	padding: 0 7px;
	font-size: 15px;
	color: #888;
}
.authorization-form input:focus {border: 1px solid #82b5c8;}
.authorization-form .frgt {
	padding: 0 10px;
	color: #636262;
	font-size: 15px;
	line-height: normal;
}
.authorization-form .frgt:hover {color: #fff;}
.frgt-label {
	font-size: 14px;
	display: block;
	margin: 85px 0 5px;
	color: #1c2f3b;
}
.user-avatar {overflow: hidden;}
.user-avatar img.thumb {
	min-width: 182px;
	min-height: 190px;
}
.user-about-form .tipical-textarea {
	width: 99%;
	margin-bottom: 20px;
}
.user-about-form .tipical-button {
	float: right;
	line-height: normal;
	padding: 0 10px;
	font-size: 15px;
	color: #636262;
}
.user-about-form .tipical-button:hover {color: #fff;}
.add-price-table {margin-bottom: 35px;}
.add-price-table .add-price-table-row {
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 18px;
	color: #000;
	font-style: italic;
}
.add-price-table-row span {
	font-weight: bold;
	font-style: normal;
	font-size: 18px;
}
.add-price-table-row .add-price-name {
	float: left;
	width: 310px;
}
.add-price-table-row .add-price-price {
	float: left;
	width: 130px;
	margin-left: 20px;
}
.add-price-table-row .add-price-value {
	float: left;
	width: 180px;
	margin-left: 20px;
}
.add-price-table-row input {
	width: 96%;
	padding: 0 1.8%;
	background: none;
	outline: none;
	border: 1px solid #dadada;
	height: 32px;
}
#add-pricerow {
	line-height: 30px;
	float: none;
}
.attach-fileblock {margin-top: 50px;}
.attach-fileblock .attach-fileblock-title {
	line-height: 18px;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 20px;
}
.attach-fileblock-title span {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
}
.attach-fileblock .attach-fileblock-format {
	line-height: 18px;
	font-size: 12px;
	margin-bottom: 20px;
}
.attach-fileblock-format span {color: #d73838;}
.att-file .tipical-button {
	float: none;
	line-height: 30px;
}
.add-work-photo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.add-myworks .add-myworks-right {
	position: relative;
	overflow-x: hidden;
	/*height: 214px;*/
	background: #054157;
}
.my-works-carousel {width: 800px;}
.names-list {
	margin-bottom: 20px;
	display: block;
}
.names-list li {
	margin-top: 10px;
	font-size: 12px;
	line-height: 24px;
	padding: 0 8px 0 25px;
	background: url(/images/file.png) no-repeat 6px center;
	border: 1px solid #cdcdcd;
	display: inline-block;
	margin-right: 15px;
}
.footer-mail-column {
	float: left;
	margin-left: 170px;
}
.footer-mail-column p {margin-bottom: 15px;}
.footer-mail-column a {
	color: #fff;
	font-weight: bold;
}
/* page styles end */

/* media query start */
@media (max-width: 1024px) {}
/* media query end */