.kindOfJob{
    color: red;
     list-style-type: none;
}
     
.areaOfJob:not(.kindOfJob){
    color:blueviolet;
    list-style-image: url(../marker1.png);
    
}

.new {
    
color:aqua;
    list-style-image: url(../marker2.png);
};